@use "./variables" as *;
@use "./mixins" as *;

.calculator__grid__button {
    border: 0.25vw solid black;
    padding: 0.5vw;
    box-shadow: 0.25vw 0.25vw black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $operator-button-color;
    color: $button-font-color;

    height: 75%;
    width: 90%;
    font-size: x-large;
    

    &:hover {
        border: 0.5vw solid black;
        padding: 0.25vw;
    }

    &--eq {
        height: 90%;
    }



    &--del, &--eq, &--clear{
        background-color: $action-button-color;
    }

    &--1, &--2, &--3, &--4, &--5, &--6, &--7, 
    &--8, &--9, &--0, &--dec, &--ans {
        background-color: $num-button-color;
    } 

}