@use "./variables" as *;
@use "./mixins" as *;

.calculator__grid__button {
    border: 1px solid black;
    box-shadow: 1px 1px black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
    color: white;

    height: 90%;
    width: 90%;
    font-size: x-large;
    

    &:hover {
        opacity: 100%;
        border: 2px solid black;
        padding: 1px;
    }

    &--eq {
        height: 90%;
    }



    &--del, &--eq, &--clear{
        background-color: orange;
    }

    &--1, &--2, &--3, &--4, &--5, &--6, &--7, 
    &--8, &--9, &--0, &--dec, &--ans {
        background-color: rgb(83, 83, 83);
    } 

}