@use "./variables" as *;
@use "./mixins" as *;

.calculator__grid__button {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
    color: white;
    padding: 2px;
    margin: 1px;



    &--del, &-- {
        background-color: orange;
    }
}