@use "./variables" as *;
@use "./mixins" as *;

.calculator {
    width: 90%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;


    &__io{
        background-color: $io-background;
        height: 40%;
        width: 92%;
        border-radius: 5px;
        
        
        margin-bottom: 1%;
        font-size: 3vh;


        &__output {
            text-align: right;
            
        }

        &__output, &__input {
            padding: 5%;
            height: 40%;
        }
    }

}