@use "./variables" as *;
@use "./mixins" as *;

.calculator__grid {
    display: grid;
    width: 95%;
    height: 100%;

    grid-template-areas: 
        "square power root yroot"
        "plus sub x div"
        "open close neg fact"
        "seven eight nine clear"
        "four five six del"
        "one two three eq"
        "zero dec ans eq";

    grid-auto-columns: 1fr;


    &__button {
        justify-self: center;

        
        &--square{
            grid-area: square;
        }
        &--power{
            grid-area: power;
        }
        &--open-bracket{
            grid-area: open;
        }
        &--close-bracket{
            grid-area: close;
        }
        &--root {
            grid-area: root;
        }
        &--0 {
            grid-area: zero;
        }
        &--1 {
            grid-area: one;
        }
        &--2 {
            grid-area: two;
        }
        &--3 {
            grid-area: three;
        }
        &--4 {
            grid-area: four;
        }
        &--5 {
            grid-area: five;
        }
        &--6 {
            grid-area: six;
        }
        &--7 {
            grid-area: seven;
        }
        &--8 {
            grid-area: eight;
        }
        &--9 {
            grid-area: nine;
        }
        &--del {
            grid-area: del;
        }
        &--dec {
            grid-area: dec;
        }
        &--ans {
            grid-area: ans;
        }
        &--clear {
            grid-area: clear;
        }
        &--x {
            grid-area: x;
        }
        &--div {
            grid-area: div;
        }
        &--+ {
            grid-area: plus;
        }
        &--- {
            grid-area: sub;
        }
        &--eq {
            grid-area: eq;
        }
        &--yroot {
            grid-area: yroot;
        }
        &--neg {
            grid-area: neg;
        }
        &--fact {
            grid-area: fact;
        }
        
        




    }
    }
    