@use "./variables" as *;
@use "./mixins" as *;

.indice {
    vertical-align: super;
    font-size: 50%;
}



h1 {
    text-align: center;
    color: $primary-color;
    font-family: $primary-font;
    font-weight: bold;
    font-size: xx-large;
}

body {
    background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
}