@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$primary-font: 'Lora', Arial;

$primary-color: orange;
$background-color: rgb(37, 37, 37);
$operator-button-color: darkslategrey;
$num-button-color: rgb(83, 83, 83);
$action-button-color: orange;
$io-background: rgb(255, 255, 255);

$button-font-color: white;
